@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Fredoka+One&family=Poiret+One&family=Yeseva+One&family=Gruppo&display=swap');

:root {
    --french-bistre: #7a6c5dff;
    --charcoal: #2a3d45ff;
    --almond: #ddc9b4ff;
    --khaki-web: rgba(188, 172, 155, 0.37);
    --dark-slate-gray: #39565dff;
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

.main {
    margin: 0;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 5fr;
}

/* Header Section CSS */
.header {
    grid-row: 1 / 3;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--charcoal);
}

.logo {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.logo-text {
    font-family: "Yeseva One";
    font-size: 4em;
}

.motto {
    font-family: "Gruppo";
    font-size: 1.75em;
}

.logo > p {
    color: var(--almond);
    margin: 0;
}

.logo > hr {
    border-color: var(--almond);
    width: 75%;
}

/* Menu Section CSS */
.menu {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 36px;
    align-items: center;
}

.menu > p {
    font-size: 2.5em;
    color: rgba(0, 0, 0, 0.75);
    font-family: "Yeseva one";
}

.menu > button {
    border: 3px solid var(--dark-slate-gray);
    font-family: "Yeseva one";
    font-size: 1.5em;
    padding: 10px 30px;
    border-radius: 5px;
    color: var(--dark-slate-gray);
    background-color: whitesmoke;
    cursor: pointer;
}

.menu > button:hover {
    color: whitesmoke;
    background-color: var(--dark-slate-gray);
}

/* Modal CSS*/
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Books Section CSS */
.books {
    background-color: var(--khaki-web);
    box-shadow: inset 0 5px 20px 0px #7a6c5d;
}