@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Fredoka+One&family=Poiret+One&family=Yeseva+One&family=Gruppo&display=swap');

:root {
    --french-bistre: #7a6c5dff;
    --charcoal: #2a3d45ff;
    --almond: #ddc9b4ff;
    --khaki-web: rgba(188, 172, 155, 0.37);
    --dark-slate-gray: #39565dff;
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

.main {
    margin: 0;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 5fr;
}

/* Header Section CSS */
.header {
    grid-row: 1 / 3;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--charcoal);
}

.logo {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.logo-text {
    font-family: "Yeseva One";
    font-size: 4em;
}

.motto {
    font-family: "Gruppo";
    font-size: 1.75em;
}

.logo > p {
    color: var(--almond);
    margin: 0;
}

.logo > hr {
    border-color: var(--almond);
    width: 75%;
}

/* Menu Section CSS */
.menu {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 36px;
    align-items: center;
}

.menu > p {
    font-size: 2.5em;
    color: rgba(0, 0, 0, 0.75);
    font-family: "Yeseva one";
}

.menu > button {
    border: 3px solid var(--dark-slate-gray);
    font-family: "Yeseva one";
    font-size: 1.5em;
    padding: 10px 30px;
    border-radius: 5px;
    color: var(--dark-slate-gray);
    background-color: whitesmoke;
    cursor: pointer;
}

.menu > button:hover {
    color: whitesmoke;
    background-color: var(--dark-slate-gray);
}

/* Modal CSS*/
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
    border-radius: 10px;
    border-top: 5px solid var(--dark-slate-gray);
    border-bottom: 5px solid var(--dark-slate-gray);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.wrapper {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: center;
    gap: 18px;
}

form label {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Abril FatFace";
    font-size: 1.2em;
    text-align: left;
    color: var(--charcoal);
} 

form input[type=text],
form input[type=number] {
    border: 2px solid var(--charcoal);
    background-color: whitesmoke;
    border-radius: 5px;
    height: 20px;
    padding: 5px 20px;
}

.read-check {
    display: flex;
    align-items: center;
}

.required-star {
    color: red;
    font-size: 0.75em;
}

form > button {
    border: 3px solid var(--dark-slate-gray);
    font-family: "Yeseva one";
    font-size: 1em;
    padding: 10px 30px;
    border-radius: 5px;
    color: var(--dark-slate-gray);
    background-color: whitesmoke;
    cursor: pointer;
    align-self: center;
}

form > button:hover {
    color: whitesmoke;
    background-color: var(--dark-slate-gray);
}

/* Books Section CSS */
.books {
    background-color: var(--khaki-web);
    box-shadow: inset 0 5px 20px 0px #7a6c5d;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 18px;
    padding: 18px;
}

.book {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 250px;
    border-left: 5px solid var(--french-bistre);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 26px 2px 117px -61px rgba(0,0,0,0.75);
    -webkit-box-shadow: 26px 2px 117px -61px rgba(0,0,0,0.75);
    -moz-box-shadow: 26px 2px 117px -61px rgba(0,0,0,0.75);
}

.book p {
    font-family: "Abril FatFace";
}

.book > button {
    border: 1px solid rgba(255, 0, 0, 0.60);
    color: rgba(255, 0, 0, 0.60);
    background-color: rgba(255, 142, 142, 0.274);
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    font-family: "Gruppo";
    font-weight: bold;
}

.book > button:hover {
    background-color: rgba(255, 0, 0, 0.60);
    color: rgb(250, 221, 221);
}